@page
@model RPDemoApp.Pages.Orders.DisplayModel
@{
    ViewData["Title"] = "Disaply";
}

<h1>Disaply</h1>

@if (Model.Order is null)
{
    <h4>The requested record was not found.</h4>
}
else
{ 
    <table class="table">
        <tbody>
            <tr>
                <td>Order Name</td>
                <td>@Model.Order.OrderName</td>
            </tr>
            <tr>
                <td>Order Date</td>
                <td>@Model.Order.OrderDate</td>
            </tr>
            <tr>
                <td>Order Total</td>
                <td>@string.Format("{0:C}", Model.Order.Total)</td>
            </tr>
            <tr>
                <td>Item Order</td>
                <td>@Model.ItemPurchased</td>
            </tr>
            <tr>
                <td>Quantity</td>
                <td>@Model.Order.Quantity</td>
            </tr>
        </tbody>
    </table>
}